pipeline/pl_dynamic_source_to_target_mapping.json
{
	"name": "pl_dynamic_source_to_target_mapping",
	"properties": {
		"activities": [
			{
				"name": "Dynamic copy source to target mapping",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sql_vw_emp",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata of source",
				"description": "Get Metadata of source",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_src",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach in source fields",
				"description": "retrieve each field's structure name and type.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata of source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata of source').output.structure",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_field_name",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable type",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_field_type",
								"value": {
									"value": "@item().type",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup source field exits or not",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set variable name",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set variable type",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT COUNT(*) AS 'amount' FROM Metadata WHERE \n SOURCE_FILENAME = variables('var_sourcename')),\n src_col = variables('var_field_name'))\n)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSql_metadata_Table",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"var_field_name": {
				"type": "String"
			},
			"var_field_type": {
				"type": "String"
			},
			"var_sourcename": {
				"type": "String"
			},
			"var_mapping_plan": {
				"type": "String"
			}
		},
		"annotations": []
	}
}